.landingSection {
    display: flex;
    padding: 5vw;
    justify-content: space-between;
}
.text {
    display: flex;
    flex-direction: column;
}
.headerMain {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 3.75vw;
    line-height: 4.17vw;
    margin: 0;
}
.headerHighlighted {
    color: #EB5A0A;
}
.textP {
    color: #353535;
}
.listHeader {
    margin-bottom: 15px;
}
.list {
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list > li {
    display: flex;
    align-items: stretch;
    gap: 8px;
}
.text > button {
    font-size: 0.9vw;
}
.img {
    width: 42.5vw;
    height: auto;
    border-radius: 32px;
}
@media only screen and (max-width: 768px) {
    .landingSection {
        flex-direction: column;
        gap: 56px;
    }
    .headerMain {
        font-size: 5.8vw;
        line-height: 7.3vw;
    }
    .text > button {
        font-size: 2.1vw;
    }
    .img {
        width: 704px;
    }
}
@media only screen and (max-width: 320px) {
    .headerMain {
        font-size: 10vw;
        line-height: 11vw;
    }
    .textP {
        color: #353535;
    }
    .text > button {
        width: 100% !important;
        font-size: 5vw;
    }
    .img {
        width: 288px;
        height: 400px;
    }
}