.header {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 96px;
    gap: 96px;

    height: 92px;
    border-bottom: 1px solid #CCCCCC;
}
.hamburgerBtn {
    display: none;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
}
.nav > button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}
.ctaSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 44px;
}
.ctaSection > button {
    height: 40px;
    width: 7.71vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctaContacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    height: 44px;

    box-sizing: border-box;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #555555;
}
.ctaContacts > p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.popup {
    position: absolute;
    z-index: 20;
}
.list {
    box-sizing: border-box;

    background-color: #FEFEFE;
    border: 1px solid #E3E3E3;
    /* shadow/bottom/m */
    box-shadow: 0px 0px 16px rgba(32, 32, 32, 0.1), 0px 12px 24px -12px rgba(133, 144, 164, 0.2);
    border-radius: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 280px;

    padding-top: 20px;
    padding-bottom: 20px;

}
.list > li {
    display: flex;
    align-items: baseline;
}
.list > li > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #555555;
}
@media only screen and (max-width: 1440px) {
    .header {
        gap: 6.66vw;
        padding: 24px 5vw;
    }
    .nav {
        gap: 2.22vw;
    }
    .ctaSection > button {
        width: 10.3vw;
    }
    .header > svg {
        min-width: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .hamburgerBtn {
        display: block;
    }
    .nav, .ctaSection {
        display: none;
    }
    .nav {
        margin-top: 5vw;
        flex-direction: column;
    }
    .nav > button {
        padding: 0;

        font-weight: 500;
        font-size: 20px;
        line-height: 20px;

        color: #555555;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 2.6vw;
        padding-right: 2.6vw;
    }
    .show {
        display: flex !important;
    }
}
@media only screen and (max-width: 320px) {
    .header {
        padding: 16px;
    }
    .nav {
        gap: 16px;
    }
    .nav > button {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;

    }
}