.section {
    display: flex;
    justify-content: space-between;
    padding: 5vw;
}
.section > img {
    width: 816px;
    height: 600px;

    box-sizing: border-box;

    border: 1px solid #E3E3E3;
    border-radius: 24px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contactsHeader {
    margin-top: 0;
    margin-bottom: 24px;
}
.inputContainers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.inlineInputContainers {
    display: flex;
    gap: 32px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputContainer > label, .labelTextArea {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    color: #8E8E8E;
}
.inputContainer > input, .textArea {
    box-sizing: border-box;

    background: #FEFEFE;
    border: 1px solid #CCCCCC;
    border-radius: 12px;

    padding: 14px;

    /* controls/input/m */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    color: #353535;
}
.inputContainer > input {
    width: 392px;
}
.textArea {
    height: 144px;
    max-height: 144px;
}
.checkboxPolicyAgreement {
    box-sizing: border-box;

    width: 16px;
    height: 16px;

    background-color: rgba(9, 9, 9, 0.11);
    border-radius: 2px;
}
.checkboxLabel {
    font-size: 16px;
    line-height: 20px;

    color: #555555;
}
.checkboxLabel > a {
    cursor: pointer;
    text-decoration-line: underline;
    font-weight: 400;
}
.passwordCheckContainer {
    display: flex;
    gap: 4px;
}
.passwordCheck {
    width: 95px;
    height: 4px;

    background: #EFEFEF;
    border-radius: 15px;
}
.passwordCheckHint {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    margin-top: 1px;
    font-size: 12px;
    line-height: 16px;

    color: #8E8E8E;
}
.inputError {
    border: 2px solid red !important;
    transition: border-color ease-in-out 0.2s;
}

.form > button {
    display: flex;
    align-content: center;
    justify-content: center;

    width: 10vw;
    height: 48px;
}
@media only screen and (max-width: 768px) {
    .section {
        flex-direction: column;
        gap: 5vw;
    }
    .section > img {
        width: 92vw;
        height: auto;
    }
    .inputContainer > input {
        width: 44.3vw;
    }
    .passwordCheck {
        width: 10.7vw;
    }
    .form > button {
        width: 24vw;
    }
}